@model List<FunGuide.Models.Activities>

@*@{
    ViewData["Title"] = "Index";
}*@

<h1>Activity List</h1>



<table class="table table-bordered">
    <tr class="bg-secondary text-center text-white">
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
         </tr>
    }
</table>









@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
        </tr>
        }
    </tbody>
</table>*@
